@media (min-width: 2000px) {
    .AreaConteudoProduto{
        max-width: 98% !important;
        column-count: 15 !important;
    }
}
@media (max-width: 1000px) {
    .AreaConteudoProduto{
        column-count: 4 !important;
    }
}

@media (max-width: 800px) {
    .AreaConteudoProduto{
        column-count: 3 !important;
    }
}

@media (max-width: 600px) {
    .AreaConteudoProduto{
        column-count: 2 !important;
    }
}

@media (max-width: 400px) {
    .AreaConteudoProduto{
        column-count: 1 !important;
    }
}

@font-face {
    font-family: "FonteLegenda";
    src: url("../fonte/SciFly-Sans/SciFly-Sans.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    /* outline: #2daebf dashed 1px; */
    margin: 0;
    padding: 0;
    /* color: #e8eaed; */
    color: rgba(0, 0, 0, 0.829);
    list-style: none;
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

.Estrutura-Geral-Grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    /* background: #202124; */
    background: rgba(255, 255, 255, 0);
}
    .Navegacao{
        position: fixed;
        display: grid;
        grid-template-columns: minmax(auto, 272px) 1fr minmax(auto, 193px);
        grid-template-rows: 80px;
        background: white;   
        width: 100%;
        z-index: 7;
        /* grid-row: 1; */
        /* grid-column: 1; */
        /* border-bottom: 1px solid #e8eaed50; */
    }
        .LogoMarca{
            display: flex;
            align-items: center;
            grid-column: 1;
            grid-row: 1;
            justify-content: space-around;
            /* background: #2dbf4170; */
        }
            .LogoMarca a{
                margin: 10px;
                background: none;

            }
        .BarraPesquisa{
            display: flex;
            align-items: center;
            grid-column: 2;
            grid-row: 1;
            /* background: rgba(255, 255, 0, 0.342); */
        }
            .BarraPesquisa div{
                /* background: #e8eaed50; */
                background: #e8eaed83;
                border: none;
                border-radius: 20px;
                height: 60%;
                width: 100%;
                display: flex;
                overflow: hidden;
            }
                .BarraPesquisa input{
                    background: none;
                    outline: none   ;
                    border: none;
                    width: 94%;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .BarraPesquisa button{
                    color: 0;
                    background: none;
                    border: none;
                    width: 6%;
                }
        .Login-Bag{
            display: flex;
            justify-content: space-around;
            align-items: center;
            grid-column: 3;
            grid-row: 1;
            /* background: rgba(0, 128, 0, 0.39); */
        }
    .AreaConteudoProduto{
        max-width: 95%;
        margin: 80.5px auto 0 auto;
        column-count: 5;
    }
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
        .AreaConteudoProduto a{
            outline: #2daebf dashed 1px;
            display: block;
            position: relative;
            margin-bottom: 20px;
        }
            .AreaConteudoProduto a div.ConteudoProduto{
                padding: 0 0 20px 0;
                overflow: hidden;
                /* position: relative; */
                break-inside: avoid-column;
                /* border-radius: 20px; */
            }   
            .AreaConteudoProduto a div.ConteudoProduto span.EfeitoEscuro{
                background: #2daebf4f;
                /* display: block; */
                width: 100%;
                height: 80%;
                border-radius: 20px;
                position: absolute;
                top: 0;
                z-index: 2;
            }
            .AreaConteudoProduto a div.ConteudoProduto img{
                border-radius: 20px;
                overflow: hidden;
            }
            .AreaConteudoProduto a div.ConteudoProduto h2 span#preco{
                z-index: 3;
                width: 80px;
                height: 45px;
                border-radius: 40px;
                background: orange;
                position: absolute;
                color: rgb(110, 72, 0);
                top: 5px;
                right: 5px;
                opacity: 0;
            }
                .AreaConteudoProduto a:hover div.ConteudoProduto h2 span#preco{
                    opacity: 1;                
                    transition: 0.3s;
                }