@font-face {
    font-family: "FonteLogo";
    src: url("../fonte/Mistress/Mistress.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    /* outline: #2daebf dashed 1px; */
    margin: 0;
    padding: 0;
}

P{
    font-family: 'FonteLogo', Times, serif;
    color: black;
}

.EstruturaLogo{
    width: 1000px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    justify-items: center;
}
.BaseLaranja{
    width: 80%;
    height: 70%;
    border: 10px solid orange;
    align-self: center;
    padding: 0;
    display: grid;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
}
.EstruturaLogo img{
    width: 35%;
    height: 280%;
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
}
.EstruturaLogo p{
    grid-column: 2;
    grid-row: 10;
    background: white;
    z-index: 2;
    font-size: 3em;
    letter-spacing: 5px;
    padding-left: 15px;
}
    .BaseLaranja p{
        font-size: 15em;
        padding: 0;
        margin: 0;
        border: none;
        align-self: center;
        letter-spacing: 70px;
        padding-left: 50px;
        padding-bottom: 20px;
    }