@font-face {
    font-family: "FonteLogo";
    src: url("../fonte/Mistress/Mistress.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    /* outline: #2daebf dashed 1px; */
    margin: 0;
    padding: 0;
}

.EstruturaLogo P{
    font-family: 'FonteLogo', Times, serif;
    color: black;
}

.EstruturaLogo{
    width: 150px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-items: center;
    /* background: rgba(255, 0, 0, 0.26); */
}
.EstruturaLogo .BaseLaranja{
    width: 95%;
    height: 80%;
    border: 2px solid orange;
    align-self: center;
    padding: 0;
    display: grid;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
}
.EstruturaLogo img{
    width: 35%;
    height: 420%;
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
}
.EstruturaLogo p{
    grid-column: 2;
    grid-row: 12;
    background: rgb(255, 255, 255);
    z-index: 2;
    font-size: 5px;
    letter-spacing: 2px;
    /* padding-left: 15px; */
}
.EstruturaLogo .BaseLaranja p{
        font-size: 25px;
        padding: 0;
        margin: 0;
        border: none;
        z-index: 7;
        align-self: center;
        letter-spacing: 12px;
        padding-left: 15px;
        /* padding-bottom: 20px; */
    }
    /* ////////////////////////////////////////////////////////////////// */

.EstruturaLogoG P{
    font-family: 'FonteLogo', Times, serif;
    color: black;
}

.EstruturaLogoG{
    width: 1000px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    justify-items: center;
}
.EstruturaLogoG .BaseLaranja{
    width: 80%;
    height: 70%;
    border: 10px solid orange;
    align-self: center;
    padding: 0;
    display: grid;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
}
.EstruturaLogoG .EstruturaLogo img{
    width: 35%;
    height: 280%;
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
}
.EstruturaLogoG .EstruturaLogo p{
    grid-column: 2;
    grid-row: 10;
    background: white;
    z-index: 2;
    font-size: 3em;
    letter-spacing: 5px;
    padding-left: 15px;
}
.EstruturaLogoG .BaseLaranja p{
        font-size: 15em;
        padding: 0;
        margin: 0;
        border: none;
        align-self: center;
        letter-spacing: 70px;
        padding-left: 50px;
        padding-bottom: 20px;
    } 