*{
    margin: 0;
    padding: 0;
}
.mask-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: bottom center url("./IlustraçãoPreto.svg");
    background-size: cover;
}
.color-image{
    position: absolute;
    inset: 0;
    background: bottom center url("./Ilustração.svg");
    background-size: cover;

    -webkit-mask-image: url("./mask.png");
    -webkit-mask-size: cover;
    -webkit-mask-position: 98.5% 0%;
    mask-image: url("./mask.png");
    mask-size: cover;
    mask-position: 98.5% 0%;
    transition: -webkit-mask-position;
    animation: addColor 1000ms steps(24) forwards;
    animation-delay: .5s;
}
@keyframes addColor {
    0%{
        -webkit-mask-position: 98.5% 0%;
        mask-position: 98.5% 0%;
    }
    100%{
        -webkit-mask-position: 0% 0%;
        mask-position: 0% 0%;
    }
}